body {
	background-color: black;
}

#templatemo_slider {
	width: 960px;
	margin: 0 auto;
	padding: 0 10px 10px;
}

#slider-left-but { 
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_left.png); 
	margin-right: 10px; 
}

#slider-right-but { 
	display: block; 
	width: 30px; 
	height: 30px; 
	border: none; 
	background: url(../images/templatemo_slider_right.png); 
}